<template name="budgetTemplate">
    <h2>Run Budget</h2>

    <p>

    <form class="form-horizontal run-budget">
        <input id="openingBalance" type="text" placeholder="Opening Balance"/>
        <button type="submit" class="btn-success">Run Budget</button>
    </form>
    </p>
    <h2>Result</h2>

    <pre>{{budgetString}}</pre>

    <p>
        <button id="clearBudget" class="delete-envelope btn btn-danger btn-xs" type="button">
            Clear Budget
        </button>
    </p>
</template>


<template name="fill">
    <li>{{date}}: {{envelope}}: {{amount}}</li>
</template>
