<template name="demandTemplate">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h3>Add demand</h3>

        <form class="form-horizontal new-demand">
            <div class="form-group">
                <select name="envelope">
                    {{#each envelopes}}
                        {{> envelopeoption}}
                    {{/each}}
                </select>
                <input type="text" name="demandDate" placeholder="Date" class="date"/>
                <input type="text" name="demandAmount" placeholder="Amount"/>
                <button type="submit" class="btn btn-primary">Add Demand</button>
            </div>
        </form>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h3>Demands</h3>
        <ul>
            {{#each demands}}
                {{> demand}}
            {{/each}}
        </ul>
    </div>
</template>

<template name="demand">
    <li>
        {{date}}: {{envelope.name}}: {{amount}}

        <button class="delete-demand btn btn-danger btn-xs" type="button" data-button="{{_id}}">
            Delete
        </button>
    </li>
</template>

<template name="envelopeoption">
    <option value='{{_id}}'>{{name}}</option>
</template>