/* CSS declarations go here */
.nice-list {
    width: 320px;
}

.nice-list ol {
    font-style: italic;
    font-family: Georgia, Times, serif;
    font-size: 24px;
    color: #282e3d;
}

.nice-list ol li {
}

.nice-list ol li p {
    padding: 8px;
    font-style: normal;
    font-family: Arial;
    font-size: 13px;
    color: #eee;
    border-left: 1px solid #999;
}

.nice-list ol li p em {
    display: block;
}